{% extends "base.html.twig" %}

{% block title %}
   - News Page
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center container">
    
        {% for new in news %}

            <article class="prose">

                <h2>
                    <a class="no-underline" href="{{ new.url }}" target="_blank">
                        {{ new.title }}
                    </a>
                </h2>
                <a href="{{ new.url }}" target="_blank">
                    <img src="{{ new.imageUrl }}" alt="{{ new.title }}"/>
                </a>
                <p>
                  {{ new.summary }}
                </p>
                <p>
                    <a type="button" href="{{ new.url }}" target="_blank" class="no-underline inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Read more on {{ new.newsSite }}</a>
                </p>
                <pre>Published at {{ new.publishedAt|date("d/m/y h:i:s") }}</pre>
                
            </article>

            <pre>---------------------------------------------------------</pre>
            
        {% endfor %} 

    </div>
{% endblock %}